*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    max-width: 1248px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    font-family: 'Roboto';
    border: 2px solid grey;
}

.header {
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    text-align: center;
    color: white;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 60px;
    background-color: blue;
    text-align: center;
    color: white;
}

.upperPart {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}

.lowerPart {
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}

.mainContent {
    background-color: green;
    width: 350px;
    margin: 2px;
    padding: 100px 0 0 0;
}

.sidebar {
    background-color: purple;
    width: 130px;
    margin: 2px;
    padding: 100px 0 0 0;
}

.twin {
    background-color: orange;
    width: 240px;
    margin: 2px;
    padding: 60px 0 0 0;
}